<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
    
    
</head>
<body>
   <main>
    <form method="post" action="/login">
        <h1>Login Form</h1>
        <!-- <input type="text" name="name" placeholder="Name"> -->
        <input type="email" name="email" id="" placeholder="Email" value="<%= locals.email %>">
        <input type="password" name="password" id="" placeholder="Password">
        <p class="error"><%= locals.meassage  %></p>
        <button type="submit" > Submit</button>
    </form>
   </main>
    
</body>
</html>